
---
name: Build and Publish
on:
  push:
    tags:
      - "v*.*.*"
    paths-ignore:
      - '*.md'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.9
        with:
          pypi_token: ${{ secrets.PYPI }}